<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ゲーム・アプリでセキュリティを知ろう！</h2>
                <hr class="light">
                <p class="text-faded">IGGGが今年もやってきた！</p>
                <p class="text-faded">楽しいゲームやアプリがいっぱいあるよ！セキュリティことを知りながら、たくさん遊んじゃおう！</p>
                <p class="text-faded">ボクらのブースは総合研究棟 5階の 502 号室だよ！</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
