<div class="modal fade" id="anaqramModal" tabindex="-1" role="dialog" aria-labelledby="anaqramLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="anaqramLabel">AnaQRam</h4>
            </div>
            <div class="modal-body">
              <h4>QRコードで文字を集めてパズルをとこう！</h4>
              あそび方
              <ul>
                <li>QRコードを探してスキャン</li>
                <li>すると文字が読み取れる</li>
                <li>文字を全部集めたら並び替えてパズルをとこう！</li>
              </ul>
              <img align="left" src="img/anaqram1.gif" style="width:49%;height:auto;"/>
              <img align="right" src="img/anaqram2.gif" style="width:49%;height:auto;"/>
              <br clear="both">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logicModal" tabindex="-1" role="dialog" aria-labelledby="whereLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="logicLabel">ロジピッタン</h4>
            </div>
            <div class="modal-body">
              <h4>パズルでデジタルを学ぼう！</h4>
              パズルゲームで遊びながら「デジタル回路」について知ろう。
              ボクらが用意した2つのモード、君にクリアできるかな!?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="warizanModal" tabindex="-1" role="dialog" aria-labelledby="sortsortLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="warizanLabel">わりざんゲーム</h4>
            </div>
            <div class="modal-body">
              <h4>わり算を駆使して敵を倒せ！</h4>
	             「わり算」のちからを使って、つぎつぎに現れる敵を倒していこう。
	              敵をたくさん倒して、ハイスコアを目指せ!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="animalModal" tabindex="-1" role="dialog" aria-labelledby="leapuzzLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="animalLabel">どうぶつさがし</h4></h4>
            </div>
            <div class="modal-body">
	             <h4>隠れている動物を探そう！</h4>
	             スマホを傾けて見えるところを動かして、なんの動物が隠れているか当ててみよう!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bibiModal" tabindex="-1" role="dialog" aria-labelledby="maruoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bibiLabel">bibi</h4></h4>
            </div>
            <div class="modal-body">
              <h4>自分の体感を信じろ！</h4>
              プレイヤーは Wii バランスボードを使って主人公を操作できるよ。
              迷路やトラップなどの障害を越えてゴールを目指せ！！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="kppModal" tabindex="-1" role="dialog" aria-labelledby="hoshimiLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="kppLabel">K++</h4></h4>
            </div>
            <div class="modal-body">
              <h4>KUE-CHIP2専用言語「K++」</h4>
              C言語ライクな高級言語で簡単にKUE-CHIP2のコードを生成！<br>
              ※KUE-CHIP2は群大で用いられてるマイコンで、これは展示だけです。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
