<div class="modal fade" id="anaqramModal" tabindex="-1" role="dialog" aria-labelledby="anaqramLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="anaqramLabel">AnaQRam</h4>
            </div>
            <div class="modal-body">
              <h4>QRコードで文字を集めてパズルをとこう！</h4>
              あそび方
              <ul>
                <li>QRコードを探してスキャン</li>
                <li>すると文字が読み取れる</li>
                <li>文字を全部集めたら並び替えてパズルをとこう！</li>
              </ul>
              <img align="left" src="img/anaqram1.gif" style="width:49%;height:auto;"/>
              <img align="right" src="img/anaqram2.gif" style="width:49%;height:auto;"/>
              <br clear="both">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="whereModal" tabindex="-1" role="dialog" aria-labelledby="whereLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="whereLabel">Where-is-this?</h4>
            </div>
            <div class="modal-body">
              <h4>ここはどこ？</h4>
              <img src="img/view.jpg" style="width:100%;height:auto;"/>
              <p>
                <a href=" https://where-is-this.herokuapp.com/">ヒント</a>
              </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sortsortModal" tabindex="-1" role="dialog" aria-labelledby="sortsortLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sortsortLabel">ならべてソート</h4>
            </div>
            <div class="modal-body">
              <h4>少ない回数で並び替えられるかな？</h4>
              ゲームで遊びながら "ソート" について知ろう。
              どうすれば、少ない回数で数字をきれいに並べれるかな？？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="leapuzzModal" tabindex="-1" role="dialog" aria-labelledby="leapuzzLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="leapuzzLabel">leapuzz</h4></h4>
            </div>
            <div class="modal-body">
              <h4>バーチャルワールドで組み合わせパズルを解こう!</h4>
              自分の手で画面の中のブロックを操作できるよ。
              うまく動かしてパズルをとこう！
              じつは、Leap Motion というデバイスを使って、自分の手がゲームのコントローラーになるんだ。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="maruoModal" tabindex="-1" role="dialog" aria-labelledby="maruoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="maruoLabel">マルオメーカー</h4></h4>
            </div>
            <div class="modal-body">
              <h4>おなじみスーパーマ○オのAndroid版！</h4>
              群馬大学オリジナル要素をつめこんだマリオがここに！
              私達が用意した5つの難関ステージ、君にクリアできるかな？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="hoshimiModal" tabindex="-1" role="dialog" aria-labelledby="hoshimiLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="hoshimiLabel">???</h4></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
