<div class="modal fade" id="anaqramModal" tabindex="-1" role="dialog" aria-labelledby="anaqramLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="anaqramLabel">AnaQRam</h4>
            </div>
            <div class="modal-body">
                <h4>QRコードで文字を集めてパズルをとこう！</h4>
                あそび方
                <ul>
                    <li>QRコードを探してスキャン</li>
                    <li>すると文字が読み取れる</li>
                    <li>文字を全部集めたら並び替えてパズルをとこう！</li>
                </ul>
                <!--
                <img align="left" src="img/anaqram1.gif" style="width:49%;height:auto;" />
                <img align="right" src="img/anaqram2.gif" style="width:49%;height:auto;" />
                <br clear="both">
                -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="arshootModal" tabindex="-1" role="dialog" aria-labelledby="arshootLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="arshootLabel">AR Shoot!</h4>
            </div>
            <div class="modal-body">
                <h4>拡張現実ARを使ったシューティングゲームです.ぜひご体験あれ.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dcganModal" tabindex="-1" role="dialog" aria-labelledby="dcganLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dcganLabel">DCGAN</h4>
            </div>
            <div class="modal-body">
                <h4>人工知能の画像生成を体験しよう!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="roboleaderModal" tabindex="-1" role="dialog" aria-labelledby="roboleaderLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="roboleaderLabel">ロボリーダー</h4>
                </h4>
            </div>
            <div class="modal-body">
                黒い線を組み合わせて、道を作ってあげよう！
                ロボットはちゃんと走ってくれるかな？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ztsukoraModal" tabindex="-1" role="dialog" aria-labelledby="ztsukoraLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ztsukoraLabel">雑コラ</h4>
                </h4>
            </div>
            <div class="modal-body">
                人の顔を判別して、顔の上に画像を上書きするプログラムです。画像のようにリアルタイムで雑コラを生成しています。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cardgameModal" tabindex="-1" role="dialog" aria-labelledby="cardgameLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cardgameLabel">カードゲーム</h4>
                </h4>
            </div>
            <div class="modal-body">
                簡易カードゲーム作ってみました。よかったら遊んでみてください。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ballgameModal" tabindex="-1" role="dialog" aria-labelledby="ballgameLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ballgameLabel">玉を拾いゲーム</h4>
                </h4>
            </div>
            <div class="modal-body">
                箱を左右に移動させて、落ちてくる玉を拾うゲームです。30秒でできるだけ多くの玉を拾いましょう。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="puzzleModal" tabindex="-1" role="dialog" aria-labelledby="puzzleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="puzzleLabel">パズル</h4>
                </h4>
            </div>
            <div class="modal-body">
                パズルを完成させよう！
                左上から1〜8、空白、の順番になるようにパネルを移動させよう！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
</div>