<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">いろんなゲーム・アプリがあるよ！！</h2>
                <hr class="light">
                <p class="text-faded">IGGGが今年もやってきた！</p>
                  ソフトウェアフェスタではボクたちが作ったり、借りてきたりしたゲームやアプリが置いてます。
                  好きなアプリから自由にあそんでください！
                </p>
                <p class="text-faded">ボクらのブースは <strong>総合研究棟 4階の 402 号室 の奥のほう</strong>  です！</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">What is Point ?</a>
            </div>
        </div>
    </div>
</section>
