<section class="no-padding" id="portfolio" style="background-image: url('img/portfolio/blank.jpg')">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#anaqramModal" class="portfolio-box" role="button" data-toggle="modal">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                QR コードで文字を集めてパズルをとこう！
                            </div>
                            <div class="project-name">
                                AnaQRam
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a href="#logicModal" class="portfolio-box" role="button" data-toggle="modal">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                デジタル回路でパズルゲーム
                            </div>
                            <div class="project-name">
                                ロジピッタン
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#warizanModal" class="portfolio-box" role="button" data-toggle="modal">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                わり算で敵を倒せ！
                            </div>
                            <div class="project-name">
                                わりざんゲーム
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a href="#animalModal" class="portfolio-box" role="button" data-toggle="modal">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              どうぶつを探してなまえを当てよう
                            </div>
                            <div class="project-name">
                                 どうぶつさがし
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a href="#bibiModal" class="portfolio-box" role="button" data-toggle="modal">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                重心移動による体感型ゲーム！？
                            </div>
                            <div class="project-name">
                                bibi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a href="#kppModal" class="portfolio-box" role="button" data-toggle="modal">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              自作プログミング言語？？
                            </div>
                            <div class="project-name">
                              K++
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a href="#codeModal" class="portfolio-box" role="button" data-toggle="modal">
                    <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              敵を倒してポイントを稼ごう！
                            </div>
                            <div class="project-name">
                              Leadable Code (α版)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
